*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background:url("assets/font/inicio.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    font-family: 'Acme', sans-serif;
}

/* ----------sección inicio----------- */
#container-boton-inicio{
    display: flex;
    justify-content: left;
    margin-top: 50vh;
    margin-left: 20%;

}

#creditos{
    display: flex;
    justify-content: left;
    margin-left: 15%;
    font-family:'Signika Negative', sans-serif;
}


#boton-inicio{
    padding: 10px;
    font-family: 'Signika Negative', sans-serif;
}
/* ----------sección personaje----------- */
#boton-personaje{
    padding: 10px;
}



#contenedor-tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.tarjeta-de-personajes{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin: 60px auto;
}

input{
    display: none;
}

.name{
    display: flex;
    justify-content: center;
}

#boton-personaje{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 45%;
    margin-top: -100px;

}

.tarjeta-de-personajes img{
    transition: all 300ms;
    position: relative;
    margin-top: -50px;
}
.tarjeta-de-personajes img:hover{
    cursor: pointer;
    transform: scale(1.15);

}

#Ash{
    filter: drop-shadow(5px 5px 10px black);
    height: 400px;
}

#Brock{
    filter: drop-shadow(5px 5px 10px black);


}

#Dawn{
    filter: drop-shadow(5px 5px 10px black);
}

#logo{
    width: 300px;
    position: relative;
    animation: animacionlogo;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animacionlogo {
    0%{justify-content:left;left: 0}
    50%{box-shadow: 5px 10px #888888;;left:80vw}
    100%{justify-content:center;left:0}
}
/* ----------sección-luchas----------- */

#section-lucha{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contenedor-jugador-vida{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 50px;


}

#contenedor-enemigo-vida{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 50px;
}
#lucha-jugador img{
    height: 300px;
    width: 200px;
}

#lucha-enemigo img{
    height: 300px;
    width: 200px;
}








.vida-bar {
    width: 200px;
    height: 20px;
    background-color: #ddd;
  }

  #vida-progreso-jugador{
    display: block;
    height: 100%;
    background-color: #ff0000;
    width: 100%; /* Cambia este valor con JavaScript para representar el progreso */
  }


  #vida-progreso-enemigo{
    display: block;
    height: 100%;
    background-color: #ff0000;
    width: 100%; /* Cambia este valor con JavaScript para representar el progreso */

  }



/* ----------Estilo botones----------- */


.boton{
   display:flex;
   align-items: center;
   justify-content: center;
   height: 50px;
   background-color: #141414;
   color: #fff;
   font-family: 'Signika Negative', sans-serif;
   font-size: 16px;
   font-weight: 500;
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ease all;
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.boton span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.boton::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #c4b107;
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton:hover::after{
    top:0;
}